:root{
    --color-logo : #2C145E;
    --color-photo-text : #FFFFFF;
    --border-radius : 16px;
}

.text-logo-header{
    color: var(--color-logo);

}

.main-header{
background-image: url(img/ban-image.png);
background-size: 100% 100%;
background-repeat: no-repeat;
color: var(--color-photo-text);
}

.section-news{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.news{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.data-news{
    background-color: #ECF2F5;
    border-radius: var(--border-radius);
}